openapi: 3.0.0
info:
  title: External API V1
  description: Color Health's External API V1 — the partner-facing REST API behind docs.color.com/reference. It lets benefit
    administrators and lab/LIMS partners manage eligibility entries for their populations, upload eligibility files, query
    participants, results, samples and self-reported results, and (for lab partners) accession, report and destroy test samples.
    Authentication is a Color-issued bearer token supplied in the Authorization header; staging and production use separate
    tokens.
  termsOfService: https://www.color.com/tos/
  contact:
    email: dev@color.com
    name: Color Health API Support
    url: https://docs.color.com/reference
  license:
    name: private
  version: v1
servers:
- url: https://api.color.com/api/v1/external
  description: Production
security:
- Bearer: []
tags:
- name: eligibility
  description: Eligibility entries and eligibility-file uploads for a population.
- name: populations
  description: 'Read-side queries across a population: participants, results, samples, self-reported results.'
- name: samples
  description: 'Lab/LIMS sample lifecycle: accession, result reporting, destruction.'
paths:
  /eligibility/entries:
    get:
      operationId: eligibility_entries_list
      description: List Eligibility Entries Endpoint
      parameters:
      - name: ordering
        in: query
        description: 'Optional: query parameter in which eligibility entries can be ordered by. By default, eligibility entries
          are ordered by latest created_at time.'
        required: false
        schema:
          type: string
          enum:
          - created_at
          - -created_at
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: 'Optional: represents the maximum number of eligibility entries to return. This integer should be between
          1 (min) and 500 (max) inclusive. By default, 50 eligibility entries will be returned.'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - name: populations
        in: query
        description: 'Optional: represents the testing populations returned in the eligibility entries. By default if no value
          is provided, entries from all of the organization’s populations will be returned.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: unique_identifiers
        in: query
        description: 'Optional: represents the unique idenitifers of the eligibility entries. By default if no value is provided,
          all eligibility entries will be returned.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: external_ids
        in: query
        description: 'Optional: represents the external ids of the eligibility entries. By default if no value is provided,
          then all eligibility entries will be returned.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - results
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the next page. Will be null if currently on
                      the last page.
                    nullable: true
                  previous:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the previous page. Will be null if currently
                      on the first page.
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EligibilityEntry'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - eligibility
      summary: List eligibility entries
    post:
      operationId: eligibility_entries_create
      description: Create Eligibility Entries Endpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EligibilityEntry'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityEntry'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - eligibility
      summary: Create an eligibility entry
    parameters: []
  /eligibility/entries/{id}:
    get:
      operationId: eligibility_entries_read
      description: Retrieve Eligibility Entries Endpoint
      parameters:
      - name: id
        in: path
        description: The eligibility entry id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityEntry'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '404':
          description: Result could not be retrieved. Please check your query parameters.
        '500':
          description: An error has occurred, please try again.
      tags:
      - eligibility
      summary: Retrieve an eligibility entry
    put:
      operationId: eligibility_entries_update
      description: Update Eligibility Entries Endpoint
      parameters:
      - name: id
        in: path
        description: The eligibility entry id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EligibilityEntryUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityEntryUpdate'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '404':
          description: Result does not exist.
        '500':
          description: An error has occurred, please try again.
      tags:
      - eligibility
      summary: Update an eligibility entry
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
  /populations/eligibility_list:
    post:
      operationId: populations_eligibility_list
      description: Create and/or update eligibility data from file.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                eligibility_file:
                  description: The csv file containing eligible recipient data.
                  type: string
                  format: binary
                population:
                  description: The name of the population. This indicates the testing population you are uploading the eligibility
                    data for. Separate requests are needed to add/update each population.
                  type: string
                replace:
                  description: If "true", we remove all existing eligible participants that are not part of the new list.
                    If "false", we append any eligible participants from this list but do not remove existing ones. If the
                    identifier exists already we simply update the external_id/testing_cadence_cohort to the newly provided
                    details. Optional; the default is false if not provided.
                  type: boolean
              required:
              - eligibility_file
              - population
        required: true
      responses:
        '200':
          description: Response body will contain JSON object indicating numbers of rows modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityListResponse'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - populations
      summary: Upload an eligibility file for a population
    parameters: []
  /populations/participants:
    get:
      operationId: populations_participants_list
      description: List Participants Endpoint
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: page_size
        in: query
        description: 'Optional: represents the maximum number of participants to return. This integer should be between 1
          (min) and 500 (max) inclusive. By default, 50 participants will be returned.'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - name: populations
        in: query
        description: represents your populations - this indicates the testing populations that you are querying participants
          for. If you do not provide populations, then participants from all of the organization’s populations will be returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: latest_sample_activated_at_start
        in: query
        description: indicates the earliest (inclusive) activation time of the participant’s most recent sample. Defaults
          to the earliest activation time if not provided. If provided, only users with samples in this time range will be
          returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: latest_sample_activated_at_end
        in: query
        description: indicates the datetime of latest (exclusive) activation time of the participant’s most recent sample.
          Defaults to the time of the request. If provided, only users with samples in this time range will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: sample_activated_at_start
        in: query
        description: indicates the earliest (inclusive) activation time of the returned samples. Defaults to the earliest
          activation time if not provided. If provided, only samples in this time range will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: sample_activated_at_end
        in: query
        description: indicates the datetime of latest (exclusive) activation time of the returned samples. Defaults to the
          time of the request. If provided, only samples in this time range will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: participant_ids
        in: query
        description: array of strings representing participant ids of participants. If an array of participant ids is provided,
          only participants with participant ids in the array will be returned. Query for a maximum of 50 external ids per
          request.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: external_ids
        in: query
        description: array of strings representing external ids of participants. These external ids are provided via eligibility
          file uploads or via the Eligibility List API. If an array of external ids is provided, only participants with external
          ids in the array will be returned. Query for a maximum of 50 external ids per request.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: vaccination_statuses
        in: query
        description: 'array of strings representing vaccination statuses of participants. Must be one of the following: fully_vaccinated,
          partially_vaccinated, not_vaccinated_but_intend_to, not_vaccinated_and_do_not_intend_to, not_vaccinated, declined_to_answer.
          If an array of vaccination statuses is provided, only consenting participants with vaccination statuses in the array
          will be returned.'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - fully_vaccinated
            - partially_vaccinated
            - not_vaccinated_but_intend_to
            - not_vaccinated_and_do_not_intend_to
            - not_vaccinated
            - declined_to_answer
      - name: vaccine_status_last_updated_at_start
        in: query
        description: indicates the earliest (inclusive) last update time for a vaccination status.  If provided, only samples
          where the vaccination status was updated after this time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: vaccine_status_last_updated_at_end
        in: query
        description: indicates the latest (inclusive) last update time for a vaccination status.  If provided, only samples
          where the vaccination status was updated before this time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: ordering
        in: query
        description: 'Optional: query parameter in which participants can be ordered by. By default, participants are ordered
          by latest created_at time.'
        required: false
        schema:
          type: string
          enum:
          - created_at
          - -created_at
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the next page. Will be null if currently on
                      the last page.
                    nullable: true
                  previous:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the previous page. Will be null if currently
                      on the first page.
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParticipantStatusApi'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - populations
      summary: List participants
    parameters: []
  /populations/results:
    get:
      operationId: populations_results_list
      description: List Results Endpoint
      parameters:
      - name: ordering
        in: query
        description: 'Optional: query parameter in which results can be ordered by. By default, results are ordered by latest
          released_at time.'
        required: false
        schema:
          type: string
          enum:
          - released_at
          - -released_at
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: 'Optional: represents the maximum number of results to return. This integer should be between 1 (min)
          and 500 (max) inclusive. By default, 50 results will be returned.'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - name: populations
        in: query
        description: represents your populations - this indicates the testing populations that you are querying results for.
          If you do not provide populations, then results from all of the organization’s populations will be returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: released_at_start
        in: query
        description: indicates the earliest (inclusive) release date of results. Earliest accepted datetime is 2 weeks before
          the time of the request. Defaults to 2 weeks before the time of the request if not provided.
        required: false
        schema:
          type: string
          format: date-time
      - name: released_at_end
        in: query
        description: indicates the datetime of the most recent (exclusive) release date. Defaults to the time of the request.
        required: false
        schema:
          type: string
          format: date-time
      - name: kit_barcodes
        in: query
        description: represents sample barcodes. If an array of barcodes is provided, only results with barcodes in the array
          will be returned. Query for a maximum of 50 barcodes per request.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            pattern: ^D-\d{10}$
      - name: test_significance
        in: query
        description: string indicating the desired test significance of the results. If the query parameter is included, but
          does not contain one of the accepted values, we will return 400 Bad request.
        required: false
        schema:
          type: string
          enum:
          - detected
          - not_detected
          - inconclusive
          - failed
      - name: organizations
        in: query
        description: this can only be used with customer accounts. This indicates the organizations that you are querying
          results for. If you do not provide organizations, then results from all organizations will be returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: external_ids
        in: query
        description: array of strings representing external ids of participants. These external ids are provided via eligibility
          file uploads or via the Eligibility List API. If an array of external ids is provided, only results for participants
          matching the external ids in the array will be returned. Query for a maximum of 50 external ids per request.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - results
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the next page. Will be null if currently on
                      the last page.
                    nullable: true
                  previous:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the previous page. Will be null if currently
                      on the first page.
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResultApi'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - populations
      summary: List results
    parameters: []
  /populations/samples:
    get:
      operationId: populations_samples_list
      description: List Samples Endpoint
      parameters:
      - name: ordering
        in: query
        description: 'Optional: query parameter in which samples can be ordered by. By default, samples are ordered by latest
          activated_at time.'
        required: false
        schema:
          type: string
          enum:
          - activated_at
          - -activated_at
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: 'Optional: represents the maximum number of samples to return. This integer should be between 1 (min)
          and 500 (max) inclusive. By default, 50 samples will be returned.'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - name: populations
        in: query
        description: represents your populations - this indicates the testing populations that you are querying samples for.
          If you do not provide populations, then samples from all of the organization’s populations will be returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: activated_at_start
        in: query
        description: indicates the earliest (inclusive) activation time of the returned samples. Defaults to the the activation
          time two weeks ago if not provided.
        required: false
        schema:
          type: string
          format: date-time
      - name: activated_at_end
        in: query
        description: indicates the datetime of latest (exclusive) activation time of the returned samples. Defaults to the
          time of the request.
        required: false
        schema:
          type: string
          format: date-time
      - name: kit_barcodes
        in: query
        description: represents sample barcodes. If an array of barcodes is provided, only samples with barcodes in the array
          will be returned. Query for a maximum of 50 barcodes per request.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            pattern: ^D-\d{10}$
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - results
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the next page. Will be null if currently on
                      the last page.
                    nullable: true
                  previous:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the previous page. Will be null if currently
                      on the first page.
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SampleApi'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - populations
      summary: List samples
    parameters: []
  /populations/samples/{kit_barcode}:
    get:
      operationId: populations_samples_read
      description: Retrieve Samples Endpoint
      parameters:
      - name: kit_barcode
        in: path
        description: Barcode included in the test collection kit
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleApi'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '404':
          description: Result could not be retrieved. Please check your query parameters.
        '500':
          description: An error has occurred, please try again.
      tags:
      - populations
      summary: Retrieve a sample by kit barcode
    parameters:
    - name: kit_barcode
      in: path
      required: true
      schema:
        type: string
  /populations/self_reported_results:
    get:
      operationId: populations_self_reported_results_list
      description: List Self-Reported Results Endpoint
      parameters:
      - name: ordering
        in: query
        description: 'Optional: query parameter in which self-reported results can be ordered by. By default, self-reported
          results are ordered by latest reported_at time.'
        required: false
        schema:
          type: string
          enum:
          - reported_at
          - -reported_at
      - name: reported_at_start
        in: query
        description: Indicates the earliest (start) or latest (end) reported time of self-reported results to be returned
        required: false
        schema:
          type: string
      - name: reported_at_end
        in: query
        description: Indicates the earliest (start) or latest (end) reported time of self-reported results to be returned
        required: false
        schema:
          type: string
      - name: test_date_start
        in: query
        description: Indicates the earliest (start) or latest (end) test date of self-reported results to be returned
        required: false
        schema:
          type: string
      - name: test_date_end
        in: query
        description: Indicates the earliest (start) or latest (end) test date of self-reported results to be returned
        required: false
        schema:
          type: string
      - name: populations
        in: query
        description: Represents your populations - this indicates the testing populations that you are querying self-reported
          results for. If you do not provide populations, then self-reported results from all of the organization’s populations
          will be returned.
        required: false
        schema:
          type: string
      - name: participant_ids
        in: query
        description: Array of strings representing participant ids of participants. If an array of participant ids is provided,
          only self-reported results with participant ids in the array will be returned. Query for a maximum of 50 external
          ids per request.
        required: false
        schema:
          type: string
      - name: test_significance
        in: query
        description: String indicating the desired test significance of the self-reported results. If the query parameter
          is included, but does not contain one of the accepted values, we will return 400 Bad request.
        required: false
        schema:
          type: string
      - name: test_type
        in: query
        description: String indicating the desired test type of the self-reported results. If the query parameter is included,
          but does not contain one of the accepted values, we will return 400 Bad request.
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: 'Optional: represents the maximum number of self-reported results to return. This integer should be between
          1 (min) and 500 (max) inclusive. By default, 50 self-reported results will be returned.'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - results
                type: object
                properties:
                  next:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the next page. Will be null if currently on
                      the last page.
                    nullable: true
                  previous:
                    type: string
                    format: uri
                    description: URL prepopulated with query parameters to get the previous page. Will be null if currently
                      on the first page.
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SelfReportedResultApi'
        '400':
          description: Response body will contain list of all error messages.
        '403':
          description: Authentication token was not provided or accepted.
        '500':
          description: An error has occurred, please try again.
      tags:
      - populations
      summary: List self-reported results
    parameters: []
  /samples/{sample_barcode}/accession:
    post:
      tags:
      - samples
      description: This endpoint records that a sample has arrived at the lab. If the sample was previously accessioned by
        the caller, its status will not be modified (the endpoint is idempotent).
      parameters:
      - name: sample_barcode
        description: Barcode included in the test collection kit
        in: path
        required: true
        schema:
          type: string
          pattern: ^D-\d{10}$
      responses:
        '200':
          description: If the sample was accessioned successfully, or has been previously accessioned by the caller, this
            endpoint will return a JSON object with information about the requested sample.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accession_number:
                    type: string
                    description: The sample’s accession number ( e.g. ‘C-12345’ )
                    example: C-12345
                  collected_at:
                    type: string
                    format: date-time
                    description: An iso-formatted collection timestamp (e.g. '2020-04-28T04:33:22.111111+00:00'). This field
                      may be null if is_approved_for_processing is false
                    example: '2022-05-31T16:42:48.840Z'
                  is_approved_for_processing:
                    type: boolean
                    description: This field will be true if the sample is approved to be tested. It can be false for multiple
                      reasons - e.g. if the sample’s order is cancelled or the sample doesn’t have an order. If this field
                      is false, the sample should be discarded.
                  sample_type:
                    type: string
                    description: 'The swab type. All covid samples start out with the sample type ‘covid_swab’, which is then
                      updated to a more specific type when an order is placed for the sample. So if you receive a sample without
                      an order, it will have the type ‘covid_swab’. Otherwise, all samples with orders should have one of
                      the more detailed sample types.

                      Possible values include:

                      * `covid_dry_anterior_nares_swab`

                      * `covid_anterior_nares_swab`

                      * `covid_nasopharyngeal_swab`

                      * `covid_oropharyngeal_swab`

                      * `covid_swab`'
                    enum:
                    - covid_dry_anterior_nares_swab
                    - covid_anterior_nares_swab
                    - covid_nasopharyngeal_swab
                    - covid_oropharyngeal_swab
                    - covid_swab
                  shipping_batch_id:
                    description: The ID of the batch in which the sample arrived at the lab. Will be null if the sample isn’t
                      assigned to a shipping batch.
                    type: string
                    example: 1234
                  result_type:
                    description: 'The test type of the sample.  Can be one of:

                      * `surveillance`

                      * `diagnostic`'
                    type: string
                    enum:
                    - surveillance
                    - diagnostic
                  organization_name:
                    description: The name of the organization that the sample is associated with. This field may be null if
                      `is_approved_for_processing` is false.
                    type: string
                  customer_account_name:
                    description: The name of the customer account that the organization is associated with.
                    type: string
                  rejection_reason:
                    description: 'The reason why the sample is not approved for processing. Will be null if `is_approved_for_processing`
                      is false.

                      Possible values include:

                      * `SAMPLE_DECOMMISSIONED` - if the sample was decommissioned.

                      * `SAMPLE_EXPIRED` - if the lab has a configured accessioning policy and the sample is considered expired.

                      * `SAMPLE_NOT_ACTIVATED` - if there is an order for the sample but the sample wasn''t activated.

                      * `ORDER_CANCELLED` - if all of the sample''s orders were cancelled.

                      * `NO_ORDER` - if the sample has no valid orders supporting its processing.'
                    type: string
                    enum:
                    - ORDER_CANCELLED
                    - NO_ORDER
                    - SAMPLE_NOT_ACTIVATED
                    - SAMPLE_EXPIRED
                    - SAMPLE_DECOMMISSIONED
              examples:
                response:
                  value:
                    accession_number: C-12345
                    collected_at: '2020-04-28T04:33:22.111111+00:00'
                    is_approved_for_processing: true
                    organization_name: Acme Processing
                    sample_type: covid_dry_anterior_nares_swab
                    shipping_batch_id: '1234'
                    result_type: surveillance
                    customer_account_name: Color
                    rejection_reason: 'null'
        '400':
          description: In some extremely rare cases, it may not be possible for us to mark the sample as accessioned. This
            can occur if the sample has already been accessioned by a different lab or if there is an internal issue in Color’s
            system. In this case, the response will have a status code of 400 and the response body will have an ’error’ property
            with information about the problem.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - SAMPLE_NOT_PROVISIONED
                        - SAMPLE_ALREADY_ACCESSIONED
                        - WRONG_SAMPLE_TYPE_FOR_LAB
                        description: '* `SAMPLE_NOT_PROVISIONED` - This code means that we don’t have a record of the sample
                          being sent to a collection site.

                          * `SAMPLE_ALREADY_ACCESSIONED` - This code means that the sample has already been accessioned by
                          a different lab.

                          * `WRONG_SAMPLE_TYPE_FOR_LAB` - This error code means that the sample isn’t one of the swab types
                          that we know your lab can process. For example, if your lab was listed in Color''s system as only
                          able to process anterior nares swabs, you would receive this error code if you attempted to accession
                          an oropharyngeal swab. This error code could mean that you’ve received a sample that shouldn’t have
                          been sent to you, or it could mean that the swab is listed as the wrong type in Color’s database.'
                      message:
                        type: string
              examples:
                response:
                  value:
                    code: SAMPLE_NOT_PROVISIONED
                    message: Sample was not properly provisioned
        '404':
          description: The sample wasn't found in Color's database (i.e. the barcode was invalid)
        '500':
          description: An error has occurred, please try again after a few minutes.
      operationId: samples_accession_create
      summary: Record that a sample arrived at the lab
  /samples/{sample_barcode}/results:
    post:
      tags:
      - samples
      description: This endpoint records the test result for a sample. If the result has already been reported (identified
        by the assay and the completion time), nothing happens (the endpoint is idempotent).
      parameters:
      - name: sample_barcode
        description: Barcode included in the test collection kit
        in: path
        required: true
        schema:
          type: string
          pattern: ^D-\d{10}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - significance
              - assay_type
              - time_completed
              properties:
                batch_id:
                  description: Any unique identifier per lab batch, e.g. a plate ID. Used for sample tracking and investigations.
                  type: string
                  example: Plate 1
                significance:
                  type: string
                  description: 'Possible values include:


                    * `NEG` - Negative for SARS-CoV2

                    * `INCONCLUSIVE` - Inconclusive for SARS-CoV2

                    * `POS` - Positive for SARS-CoV2

                    * `INVALID` - Assay failed twice

                    * `UNSATISFACTORY_1` - Improper specimen transport medium

                    * `UNSATISFACTORY_2` - Inappropriate timing of collection relative to specimen receipt

                    * `UNSATISFACTORY_3` - Sample tube unlabeled

                    * `UNSATISFACTORY_4` - Insufficient volume

                    * `UNSATISFACTORY_5` - Tube sample data does not match the submission form

                    * `UNSATISFACTORY_6` - Laboratory accident

                    * `UNSATISFACTORY_7` - Leaking/broken tube (wet swabs)

                    * `UNSATISFACTORY_8` - Sample not received

                    * `UNSATISFACTORY_9` - Incomplete requisition

                    * `UNSATISFACTORY_10` - Leaking/broken tube (dry swabs)

                    * `UNSATISFACTORY_11` - Sample could not be processed

                    * `UNSATISFACTORY_12` - Swab collection not up to standards

                    * `UNSATISFACTORY_13` - Unable to process due to sample viscosity

                    * `UNSATISFACTORY_14` - Sample not processed due to overpackaging

                    * `UNSATISFACTORY_15` - Inverted swab

                    * `UNSATISFACTORY_16` - Incorrect number of swabs for result type'
                  enum:
                  - NEG
                  - INCONCLUSIVE
                  - POS
                  - INVALID
                  - UNSATISFACTORY_1
                  - UNSATISFACTORY_2
                  - UNSATISFACTORY_3
                  - UNSATISFACTORY_4
                  - UNSATISFACTORY_5
                  - UNSATISFACTORY_6
                  - UNSATISFACTORY_7
                  - UNSATISFACTORY_8
                  - UNSATISFACTORY_9
                  - UNSATISFACTORY_10
                  - UNSATISFACTORY_11
                  - UNSATISFACTORY_12
                  - UNSATISFACTORY_14
                  - UNSATISFACTORY_15
                  - UNSATISFACTORY_16
                cycle_thresholds:
                  description: "(optional): An array of cycle thresholds (Ct) for the sample. Only applicable for RT-PCR tests.\
                    \ Each item in the array requires:\n  - gene: The name of the gene this threshold applies to.\n  - value:\
                    \ The threshold value as a floating point number."
                  items:
                    type: object
                    properties:
                      gene:
                        minLength: 1
                        title: Gene
                        type: string
                      value:
                        format: decimal
                        title: Value
                        type: string
                  type: array
                assay_type:
                  description: Assay type can either be LAMP, RT-PCR, and in some cases, specific value(s) defined by Color
                  type: string
                  enum:
                  - LAMP
                  - RT-PCR
                time_completed:
                  description: ISO-formatted timestamp representing when the test was completed.
                  type: string
                  format: date-time
                  example: '2022-05-31T16:42:48.840Z'
        description: The sample result
      responses:
        '200':
          description: Result was recorded successfully
        '400':
          description: 'Result could not be recorded.  Potential errors which could be returned with a 400 include:

            * "Sample {sample_barcode} is not approved for processing"

            * "Sample {sample_barcode} is not accessioned"'
        '404':
          description: The sample wasn't found in Color's database (i.e. the barcode was invalid)
        '500':
          description: An error has occurred, please try again after a few minutes.
      operationId: samples_results_create
      summary: Record a test result for a sample
  /samples/{sample_barcode}/destroy:
    post:
      tags:
      - samples
      description: This endpoint records that an unapproved sample is being destroyed by the lab. If the sample was already
        destroyed, nothing happens (the endpoint is idempotent).
      parameters:
      - name: sample_barcode
        description: Barcode included in the test collection kit
        in: path
        required: true
        schema:
          type: string
          pattern: ^D-\d{10}$
      responses:
        '200':
          description: The sample was successfully marked as destroyed
        '400':
          description: The sample cannot be destroyed since it it approved for processing.
        '404':
          description: The sample wasn't found in Color's database (i.e. the barcode was invalid)
        '500':
          description: An error has occurred, please try again after a few minutes.
      operationId: samples_destroy_create
      summary: Record that an unapproved sample was destroyed
components:
  securitySchemes:
    Bearer:
      in: header
      name: Authorization
      type: apiKey
  schemas:
    EligibilityEntry:
      required:
      - unique_identifier
      - identifier_type
      - population
      type: object
      properties:
        id:
          title: Id
          description: A UUID representing the eligibility entry, can also be used in the retrieve endpoint.
          type: string
          format: uuid
          readOnly: true
        unique_identifier:
          title: Unique identifier
          description: The unique identifier for the eligibility entry.
          type: string
          minLength: 1
        identifier_type:
          title: Identifier type
          description: The type of the unique identifier. Possible values are ['email', 'unique_id'].
          type: string
          enum:
          - email
          - employee_id
          - requisition_number
          - research_id
          - appointment_id
          - 'null'
          - unique_id
        population:
          title: Population
          description: Population that is associated with the eligibility entry.
          type: string
          minLength: 1
        testing_cadence:
          title: Testing cadence
          description: The testing cadence of the eligibility entry, defaults to null if no value is provided.
          type: string
          nullable: true
        invalidated_at:
          title: Invalidated at
          description: Timestamp indicating when the eligibility entry has been invalidated.
          type: string
          format: date-time
          nullable: true
        external_id:
          title: External id
          description: The external id for the eligibility entry, value is null if no external id exists.
          type: string
          minLength: 1
          nullable: true
    EligibilityEntryUpdate:
      type: object
      properties:
        id:
          title: Id
          description: A UUID representing the eligibility entry, can also be used in the retrieve endpoint.
          type: string
          format: uuid
          readOnly: true
        unique_identifier:
          title: Unique identifier
          description: The unique identifier for the eligibility entry.
          type: string
          readOnly: true
          minLength: 1
        identifier_type:
          title: Identifier type
          description: The type of the unique identifier. Possible values are ['email', 'unique_id'].
          type: string
          enum:
          - email
          - employee_id
          - requisition_number
          - research_id
          - appointment_id
          - 'null'
          - unique_id
          readOnly: true
        population:
          title: Population
          description: Population that is associated with the eligibility entry.
          type: string
          readOnly: true
          minLength: 1
        testing_cadence:
          title: Testing cadence
          description: The testing cadence of the eligibility entry, defaults to null if no value is provided.
          type: string
          nullable: true
        invalidated_at:
          title: Invalidated at
          description: Timestamp indicating when the eligibility entry has been invalidated.
          type: string
          format: date-time
          nullable: true
        external_id:
          title: External id
          description: The external id for the eligibility entry, value is null if no external id exists.
          type: string
          minLength: 1
          nullable: true
    EligiblityListRowCounts:
      required:
      - created
      - updated
      - invalidated
      type: object
      properties:
        created:
          title: Created
          description: Number of new entries added to the eligibility list.
          type: integer
        updated:
          title: Updated
          description: Number of existing entries (entries with the same identifier) that were updated with new information.
          type: integer
        invalidated:
          title: Invalidated
          description: Number of old entries that were removed from an eligibility list.
          type: integer
    EligibilityListResponse:
      required:
      - results
      - total
      - ignored_columns
      type: object
      properties:
        results:
          $ref: '#/components/schemas/EligiblityListRowCounts'
        total:
          title: Total
          description: Total number of active eligible entries in the population.
          type: integer
        ignored_columns:
          description: List of ignored columns from the input csv.
          type: array
          items:
            type: string
            minLength: 1
    Address:
      type: object
      properties:
        line1:
          title: Address line 1
          type: string
          readOnly: true
          minLength: 1
        line2:
          title: Address line 2
          type: string
          readOnly: true
          minLength: 1
        city:
          title: City
          type: string
          readOnly: true
          minLength: 1
        state:
          title: State/Province
          type: string
          readOnly: true
          minLength: 1
        country:
          title: Country
          type: string
          enum:
          - AF
          - AX
          - AL
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BQ
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - CV
          - KH
          - CM
          - CA
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - SZ
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - KP
          - MK
          - MP
          - 'NO'
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - RE
          - RO
          - RU
          - RW
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SX
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - KR
          - SS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - UM
          - US
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - YE
          - ZM
          - ZW
          readOnly: true
        postal_code:
          title: Postal Code
          type: string
          readOnly: true
          minLength: 1
    SampleParticipantStatusApi:
      required:
      - kit_barcode
      - activated_at
      - collected_at
      type: object
      properties:
        kit_barcode:
          title: Kit barcode
          description: Barcode included in the test collection kit.
          type: string
          minLength: 1
        activated_at:
          title: Activated at
          description: When the sample was activated, null otherwise.
          type: string
          format: date-time
        received_at_lab:
          title: Received at lab
          description: When the sample was received at the lab.
          type: string
          format: date-time
          readOnly: true
        collected_at:
          title: Collected at
          description: When the sample was collected.
          type: string
          format: date-time
        processing_lab:
          title: Processing lab
          description: name of processing lab if available, null otherwise.
          type: string
          readOnly: true
        is_canceled:
          title: Is canceled
          description: indicates whether to the kit order was cancelled or not
          type: string
          readOnly: true
    ParticipantStatusApi:
      required:
      - population
      - populations
      - external_id
      - compliance_state
      - testing_cadence_cohort
      - first_name
      - middle_name
      - last_name
      - birthday
      - sex
      - email
      - eligible_email
      - phone_number
      - race_ethnicity
      - participant_id
      - address
      - samples
      - vaccination_status
      - vaccination_status_last_updated
      type: object
      properties:
        population:
          title: Population
          description: The population this participant belongs to in the organization
          type: string
        populations:
          description: All populations this participant belongs to in the organization
          type: array
          items:
            type: string
        external_id:
          title: External id
          description: University or Employer ID number
          type: string
        compliance_state:
          title: Compliance state
          description: untested, compliant, activated_not_accessioned, overdue, positive
          type: string
        testing_cadence_cohort:
          title: Testing cadence cohort
          description: Name of testing cadence cohort
          type: string
        first_name:
          title: First name
          type: string
          minLength: 1
        middle_name:
          title: Middle name
          type: string
          minLength: 1
        last_name:
          title: Last name
          type: string
          minLength: 1
        birthday:
          title: Birthday
          type: string
          format: date
        sex:
          title: Sex
          description: F, M, O
          type: string
          minLength: 1
        email:
          title: Email address
          type: string
          format: email
          minLength: 1
        eligible_email:
          title: Eligible email
          description: Email provided in eligibility file
          type: string
        phone_number:
          title: Phone number
          type: string
        race_ethnicity:
          description: List of the participant's races and ethnicity.
          type: array
          items:
            type: string
            enum:
            - African American / Black
            - Asian
            - Cambodian
            - Chinese
            - Filipino
            - Asian Indian
            - Japanese
            - Korean
            - Laotian
            - Vietnamese
            - Native Hawaiian or Other Pacific Islander (NHOP)
            - Guamanian
            - Hawaiian
            - Samoan
            - Native American
            - Middle Eastern
            - North African
            - Latino/a
            - White
            - Multiethnic
            - Other
        participant_id:
          title: Participant id
          description: The patient ID of the participant.
          type: string
          minLength: 1
          nullable: true
        address:
          $ref: '#/components/schemas/Address'
        samples:
          description: Activated samples of the participant ordered by most recently activated
          type: array
          items:
            $ref: '#/components/schemas/SampleParticipantStatusApi'
        vaccination_status:
          title: Vaccination status
          description: 'The vaccination status of the participant. This can be one of the following: fully_vaccinated, partially_vaccinated,
            not_vaccinated_but_intend_to, not_vaccinated_and_do_not_intend_to, not_vaccinated, declined_to_answer.'
          type: string
        vaccination_status_last_updated:
          title: Vaccination status last updated
          description: The latest time when a vaccination status was updated
          type: string
    PatientProfileResultApi:
      description: Object containing patient profile data.
      required:
      - sex
      - race_ethnicity
      type: object
      properties:
        first_name:
          title: First name
          type: string
          readOnly: true
          minLength: 1
        last_name:
          title: Last name
          type: string
          readOnly: true
          minLength: 1
        middle_name:
          title: Middle name
          type: string
          readOnly: true
          minLength: 1
        birthday:
          title: Birthday
          type: string
          format: date
          readOnly: true
        sex:
          title: Sex
          type: string
          minLength: 1
        email:
          title: Email
          type: string
          format: email
          readOnly: true
          minLength: 1
        phone_number:
          title: Phone number
          type: string
          readOnly: true
        address:
          title: Address
          type: string
          readOnly: true
        external_id:
          title: External id
          type: string
          readOnly: true
          minLength: 1
        race_ethnicity:
          type: array
          items:
            type: string
            enum:
            - African American / Black
            - Asian
            - Cambodian
            - Chinese
            - Filipino
            - Asian Indian
            - Japanese
            - Korean
            - Laotian
            - Vietnamese
            - Native Hawaiian or Other Pacific Islander (NHOP)
            - Guamanian
            - Hawaiian
            - Samoan
            - Native American
            - Middle Eastern
            - North African
            - Latino/a
            - White
            - Multiethnic
            - Other
    SampleResultApi:
      required:
      - kit_barcode
      - activated_at
      - collected_at
      type: object
      properties:
        kit_barcode:
          title: Kit barcode
          description: Barcode included in the test collection kit.
          type: string
          minLength: 1
        activated_at:
          title: Activated at
          description: When the sample was activated, null otherwise.
          type: string
          format: date-time
        received_at_lab:
          title: Received at lab
          description: When the sample was received at the lab.
          type: string
          format: date-time
          readOnly: true
        collected_at:
          title: Collected at
          description: When the sample was collected.
          type: string
          format: date-time
        processing_lab:
          title: Processing lab
          description: name of processing lab if available, null otherwise.
          type: string
          readOnly: true
    CycleThresholdValue:
      required:
      - gene
      - value
      type: object
      properties:
        gene:
          title: Gene
          type: string
          minLength: 1
        value:
          title: Value
          type: string
          format: decimal
    ResultApi:
      required:
      - significance
      - is_revision
      - released_at
      - opened_at
      - population
      - patient
      - sample
      - rejection_code
      - cycle_thresholds
      - organization
      - test_type
      type: object
      properties:
        significance:
          title: Significance
          description: detected,not_detected,inconclusive,failed
          type: string
        is_revision:
          title: Is revision
          description: Indicates whether or not this report is a modification of a previously released report.
          type: boolean
        released_at:
          title: Released at
          description: Time the result was released to the patient
          type: string
          format: date-time
        opened_at:
          title: Opened at
          description: Time the result was viewed by the patient
          type: string
          format: date-time
        population:
          title: Population
          description: The population this participant belongs to in the organization.
          type: string
          minLength: 1
        patient:
          $ref: '#/components/schemas/PatientProfileResultApi'
        sample:
          $ref: '#/components/schemas/SampleResultApi'
        rejection_code:
          title: Rejection code
          description: Rejection code provided by the lab
          type: string
        cycle_thresholds:
          description: A list of cycle threshold values
          type: array
          items:
            $ref: '#/components/schemas/CycleThresholdValue'
        organization:
          title: Organization
          description: The organization this participant belongs to.
          type: string
          minLength: 1
        test_type:
          title: Test type
          description: The type of test of the result, valid values include 'Rapid' and 'Individual Lab'
          type: string
    SampleApi:
      required:
      - kit_barcode
      - activated_at
      - received_at_lab
      - collected_at
      - processing_lab
      - participant_id
      - resulted_at
      - cancelled_at
      type: object
      properties:
        kit_barcode:
          title: Kit barcode
          description: Barcode included in the test collection kit.
          type: string
          minLength: 1
        activated_at:
          title: Activated at
          description: When the sample was activated, null otherwise.
          type: string
          format: date-time
        received_at_lab:
          title: Received at lab
          description: When the sample was received at the lab.
          type: string
          format: date-time
        collected_at:
          title: Collected at
          description: When the sample was collected.
          type: string
          format: date-time
        processing_lab:
          title: Processing lab
          description: name of processing lab if available, null otherwise.
          type: string
        participant_id:
          title: Participant id
          description: The public id of the participant, can be used to query participant status endpoint.
          type: string
          minLength: 1
          nullable: true
        resulted_at:
          title: Resulted at
          description: When the sample was resulted, null otherwise.
          type: string
          format: date-time
        cancelled_at:
          title: Cancelled at
          description: When the sample was cancelled, null otherwise.
          type: string
          format: date-time
    SelfReportedResultApi:
      type: object
      properties:
        participant_id:
          title: Participant id
          description: The patient ID of the participant with self reported test results
          type: string
          minLength: 1
          nullable: true
        patient:
          $ref: '#/components/schemas/PatientProfileResultApi'
        population:
          title: Population
          description: The population this participant belongs to in the organization
          type: string
          minLength: 1
        test_type:
          title: Test type
          description: The type of test reported by the participant.
          type: string
          enum:
          - covid-19 rapid
          - Abbott BinaxNOW
          - Lucira Check It
          - Quidel QuickVue
          - BinaxNOW COVID-19 Ag Card
          - BinaxNOW COVID-19 Ag Card Home Test
          - BinaxNOW COVID-19 Antigen Self Test
          - BinaxNOW COVID-19 Ag Card 2 Home Test
          - BinaxNOW COVID-19 Ag 2 Card
          - CareStart COVID-19 Antigen test
          - BD Veritor System for Rapid Detection of SARS-CoV-2
          - Celltrion DiaTrust COVID-19 Ag Rapid Test
          - Ellume COVID-19 Home Test
          - Clip COVID Rapid Antigen Test
          - LumiraDx SARS-CoV-2 Ag Test
          - Sofia SARS Antigen FIA
          - QuickVue At-Home OTC COVID-19 Test
          - QuickVue SARS Antigen Test
          - Accula SARS-Cov-2 Test
          - ID NOW COVID-19
          - iHealth COVID-19 Antigen Rapid Test
          - Cue COVID-19 Test
          - Cue COVID-19 Test for Home and Over The Counter (OTC) Use
          - Lucira CHECK-IT COVID-19 Test Kit
          - Lucira COVID-19 All-In-One Test Kit
          - Visby Medical COVID-19 Point of Care Test
          - Other rapid test
          - Other lab-based test
        test_significance:
          title: Test significance
          description: Indicates significance of the test result.
          type: string
          enum:
          - Detected
          - Not Detected
          - Inconclusive
        test_date:
          title: Test date
          description: The date the patient took the test, not the date the test was reported.
          type: string
          format: date
        reported_at:
          title: Reported at
          description: When the participant first reported this test result
          type: string
          format: date-time
      required:
      - participant_id
      - patient
      - population
      - test_type
      - test_significance
      - test_date
      - reported_at
