openapi: 3.0.3
info:
  title: Color List Eligibility API
  version: v1
  description: Color's Eligibility List API lets benefit administrators (employers, health plans, and their vendors) upload an eligibility file so that covered members and their dependents can activate Color test kits and access Color's virtual cancer care and preventive health programs. Authentication is a per-environment bearer API token issued by Color.
  contact:
    name: Color Health API Support
    url: https://docs.color.com/docs/getting-started-with-color-apis
servers:
- url: https://api.color.com
  description: Production
- url: https://external.staging.color.com
  description: Staging (test environment; uses separate staging API tokens)
security:
- bearerAuth: []
tags:
- name: Eligibility
paths:
  /api/v1/populations/eligibility_list:
    post:
      operationId: uploadEligibilityList
      summary: Upload an eligibility list
      description: Upload an eligibility file for a population. Members present in the file become eligible to activate Color kits and enroll in Color programs.
      tags:
      - Eligibility
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - population
              - eligibility_file
              properties:
                replace:
                  type: boolean
                  description: Whether this upload replaces the existing eligibility list for the population (full replace) or appends to it.
                population:
                  type: string
                  description: Identifier of the population the eligibility file applies to.
                eligibility_file:
                  type: string
                  format: binary
                  description: The eligibility file (CSV or 834) to upload.
      responses:
        '200':
          description: Eligibility file accepted for processing.
        '400':
          description: Malformed request or invalid eligibility file.
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Token not authorized for this population.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Per-environment API token supplied as an Authorization: Bearer <token> header. Staging and production use separate tokens.'
